@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: gainsboro;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: gray;
}

input:focus {
  outline: none;
}
